<p class="lead">Wat voor tickets wil je kopen?</p>
<hr class="mb-3">

<div *ngFor="let type of ticketTypeForm?.controls">
  <app-type [typeForm]="type" (increase)="increaseType($event)" (decrease)="decreaseType($event)"></app-type>
</div>

<hr class="mb-3">

<div class="row">
  <div class="col-sm-3 text-sm-left">
    <button class="btn btn-outline-danger" (click)="return()">Terug naar Evenement</button>
  </div>
  <div class="col-sm 3 text-sm-center">
    <button class="btn btn-outline-warning">Reset</button>
  </div>
  <div class="col-sm-4 text-sm-right">
    <button class="btn btn-outline-info" (click)="next()">Gegevens invullen ></button>
  </div>
</div>