<div class="row no-gutters header-padding h-100vh align-content-center justify-content-center">
  <div class="col-8">
    <h4><b>Maak hier een nieuw evenement aan!</b></h4>
    <p>Om te beginnen met het maken van evenementen is het belangrijk om een Stripe account aan te maken. Stripe is ons
      payout-platform, wat al je geldzaken regelt. Bovendien kan je hier precies zien hoeveel tickets je hebt verkocht
      en hoeveel je daar mee hebt verdient. Als klanten hun geld terug willen, kan je dat zelf regelen via het Stripe
      Dashboard. Als je een account hebt aangemaakt, wordt je weer doorgestuurd naar deze website.</p>
      <hr>
      <button type="button" class="btn btn-outline-dark btn-bottom" (click)="navigateToStripe()">
        Connect to Stripe
      </button>
  </div>
</div>