<div class="container-fluid"> <!-- remove margin-->
  <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 h-100">
        <section class="title">
            <h1 class="text-center display-1">Ticketstore</h1>
            <hr class="white m-0">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis cumque veniam soluta itaque accusantium, ullam dolorum quis assumenda, vel voluptatibus mollitia illo obcaecati minima sed quidem doloremque maiores, rerum pariatur.</p>
        </section>


      </div>
      <hr>

      <div class="col-md-2"></div>
  </div>
</div>