<div class="container">

  <div class="row" *ngIf="alreadyVerifiedEmailError">
    <div class="col-md-2"></div>
    <div class="col-md-9">
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <p class="mb-0">Dit email-adres is al bevestigd. Vraag <a [routerLink]="" class="alert-link"
            (click)="resendEmail()">hier</a> een nieuwe link aan.</p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>

  <div class="row" *ngIf="expiredTokenError">
    <div class="col-md-2"></div>
    <div class="col-md-9">
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <p class="mb-0">De bevestigingslink is verlopen. Vraag <a [routerLink]="" class="alert-link"
            (click)="resendEmail()">hier</a> een nieuwe link aan.</p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>

  <div class="row" *ngIf="tokenMismatchError">
    <div class="col-md-2"></div>
    <div class="col-md-9">
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <p class="mb-0">Token is niet correct. Vraag <a [routerLink]="" class="alert-link"
            (click)="resendEmail()">hier</a> een nieuwe link aan.</p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>

  <div class="row" *ngIf="tokenMissingError">
    <div class="col-md-2"></div>
    <div class="col-md-9">
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <p class="mb-0">Geen token meegeleverd. Vraag <a [routerLink]="" class="alert-link"
            (click)="resendEmail()">hier</a> een nieuwe link aan.</p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>


  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-9">
      <div class="text-center height-fix">
        <h1 class="display-4 mb-5">Bevestig uw email</h1>
        <hr class="mt-0 mb-3">
        <button class="btn btn-mg btn-success" (click)="confirmEmail()">Klik hier om te bevestigen</button>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>