<nav class="navbar sticky-top navbar-expand-lg bg-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/home" class="navbar-brand mb-0 h1 p-0">
        <!-- <img src="../../assets/img/logo.ico" width="30" height="30" class="d-inline-block align-top" alt=""> -->
        Ticketstore
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarcontent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarcontent">
      <ul class="nav navbar-nav mr-auto">
        <li class="nav-item" routerlinkActive="active">
          <a class="nav-link link" routerLink="/events">Evenementen</a>
        </li>
      </ul>
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item" routerlinkActive="active">
          <a class="nav-link link" routerLink="/register">Registreren</a>
        </li>
        <li class="nav-item" routerlinkActive="active">
          <a class="nav-link link" routerLink="/login">Inloggen</a>
        </li>
      </ul>
    </div>
  </div>
</nav>