<div class="container">
  <div class="row">
    <div class="col-4 w">
      <button class="btn w btn-outline-light" (click)="return()">&#171; Terug naar Evenementen</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="h1 w display-1">{{event?.name}}</div>
      <hr style="border: 1px aliceblue solid" class="mb-5">
      <div class="row">
        <div class="col-md-7">
          <div class="image">

          </div>
        </div>
        <div class="col-md-5 w">
          {{event?.description}}
          <br>
          <a class="btn btn-md btn-primary" (click)="purchase()">Koop Ticket!</a>
        </div>
      </div>
    </div>
  </div>
</div>  