<p class="lead">Hier is het overzicht van je bestelling!</p>
<hr class="my-3">

<div class="row">
  <div class="col"></div>
  <div class="col-lg-6 text-left">
    <div class="row">
      <div><b>Bestelde tickets</b></div>
    </div>
    <div class="row">
      <div class="col-6">Ticketsoort</div>
      <div class="col">Aantal</div>
      <div class="col-3">Prijs</div>
    </div>

    <hr class="my-0">

    <div *ngFor="let ticketTypeAmount of ticketTypeAmounts">
      <div *ngIf="ticketTypeAmount.amount > 0" class="row">
        <div class="col-6">
          {{ticketTypeAmount.ticketType.name}}
        </div>
        <div class="col">
          {{ticketTypeAmount.amount}}x
        </div>
        <div class="col-3">
          {{ticketTypeAmount.amount * (ticketTypeAmount.ticketType.pricePerTicket / 100) | currency: "EUR"}}
        </div>
      </div>
    </div>


    <div class="row my-0">
      <div class="col text-right align-self-baseline">
        <span><b>Totaal:</b></span>
      </div>
      <div class="col-3  align-self-baseline">
        <hr class="mt-0 mb-2" id="hr">
        <span><b>{{total / 100 | currency: "EUR"}}</b></span>
      </div>
    </div>

  </div>
  <div class="col"></div>
</div>

<div class="row mt-4">
  <div class="col"></div>
  <div class="col-md-6 text-left">
    <div class="row">
      <span><b>persoonsgegevens</b></span>
    </div>

    <div class="row">
      <div class="col-4">Naam:</div>
      <div class="col text-left">
        <span>{{customer.firstname}} <span *ngIf="customer.lastname">{{customer.middlename}} </span> {{customer.lastname}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-4">Email:</div>
      <div class="col text-left">{{customer.email}}</div>
    </div>
  </div>
  <div class="col"></div>
</div>

<hr class="my-3">

<a (click)="click()" class="btn btn-outline-info">Afrekenen</a>