<p class="lead">Hier is het overzicht van je bestelling!</p>
<hr class="my-3 devider">

<!-- Ticket Selection Details-->
<div class="row no-gutters">
  <div class="col"></div> <!-- Space Filler-->

  <div class="col-md-8 col-lg-6 text-left">

    <div class="row no-gutters">
      <span><b>Bestelde tickets</b></span>
    </div>

    <div class="row no-gutters">
      <div class="col-6">Ticketsoort</div>
      <div class="col"></div> <!-- Space Filler -->
      <div class="col-auto">Aantal</div>
      <div class="col-auto ml-3 mr-1">Prijs</div>
    </div>

    <hr class="my-0">

    <div *ngFor="let ticketTypeAmount of ticketTypeAmounts">
      <div *ngIf="ticketTypeAmount.amount > 0" class="row">
        <div class="col-6">{{ticketTypeAmount.ticketType.name}}</div>
        <div class="col"></div> <!-- Space Filler -->
        <div class="col-auto">{{ticketTypeAmount.amount}}x</div>
        <div class="col-auto ml-3 mr-1">{{ticketTypeAmount.amount * (ticketTypeAmount.ticketType.pricePerTicket / 100) | currency: "EUR"}}</div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col"></div> <!-- Space Filler-->
      <div class="col-auto text-right">
        <span><b>Totaal: {{total / 100 | currency: "EUR"}}</b></span>
      </div>
    </div>

  </div>

  <div class="col"></div> <!-- Space Filler-->
</div>

<!-- Personal Information -->
<div class="row no-gutters mt-4">
  <div class="col"></div>

  <div class="col-md-8 col-lg-6 text-left">

    <div class="row no-gutters">
      <span><b>persoonsgegevens</b></span>
    </div>

    <div class="row no-gutters">
      <div class="text-left">
        <span>Naam: {{customer.firstname}} {{customer.lastname}}</span>
      </div>
    </div>

    <div class="row no-gutters">
      <div class="text-left">
        <span>Email: {{customer.email}}</span>
      </div>
    </div>

  </div>

  <div class="col"></div>
</div>


<hr class="my-3 devider">


<div class="row no-gutters">

  <div class="mt-2 order-2 col-sm-12 mt-sm-2 order-sm-2 pr-sm-2 col-md-6 order-md-1 mt-md-0 col-lg-5 order-lg-1 col-xl-4 align-self-center">
    <button class="btn btn-lg btn-outline-dark text-center h-auto btn-bottom w-100" (click)="return()"><i class="fas fa-chevron-left"></i> Terug naar gegevens invullen</button>
  </div>
  <div class="col order-lg-2"></div> <!-- Space filler -->
  <div class="order-1 col-sm-12 mt-sm-0 order-sm-1 col-md-6 order-md-2 mt-md-0 col-lg-3 order-lg-2 align-self-center">
    <button class="btn btn-lg btn-outline-dark text-center h-auto btn-bottom w-100" (click)="click()">Afrekenen</button>
  </div>
  
</div>