.box {
  border: 1px aliceblue solid;
  border-radius: 5px;
  width: 350px; 
  height: 200px;
}

.imagebox {
  width: 100%;
  height: 75%;
  background-image: url("src\\assets\\demo-poster.png");
  background-position: center;
  background-size: contain
}

.titlebox {
  display: table;
  height: 25%;
  width: 100%;
  text-align: center;
  background: none;
  border: 1px aliceblue solid; 
  border-radius: 0px 0px 5px 5px;
} 

.title {
  display: table-cell;
  vertical-align: middle;
}