<div class="row h-100 no-gutters header-padding">
  <!-- Placed inside the row because of the Relative Position, which will place the element relative to it's parent element-->
  <app-return-to-home-button class="mt-3"></app-return-to-home-button>

  <div class="align-content-center w-100">
    <div class="row no-gutters">

      <div class="col-md-6">

        <!-- Error messages -->
        <div class="form-row no-gutters justify-content-center justify-content-md-start my-2">
          <div class="col-11 col-lg-10 col-xl-9">

            <span *ngIf="invalidCredentialsError" class="r">Je gegevens zijn niet correct. Probeer opnieuw.</span>
            <span *ngIf="emailValidationError" class="r">Bevestig je email eerst. Geen email ontvangen?
              <a routerLink="" (click)="resendVerificationEmail()" class="r link">Klik hier voor een nieuwe
                bevestigingsmail</a>
            </span>
            <span *ngIf="defaultWarning" class="r">Sorry, Er ging iets fout. Probeer het opnieuw.</span>
            <span *ngIf="successMessage">Gelukt. De email is naar je verzonden</span>
          </div>
        </div>


        <form [formGroup]="loginForm" (ngSubmit)="submit()">

          <div class="form-row justify-content-center justify-content-md-start">
            <div class="form-group col-11 col-lg-10 col-xl-9">
              <label for="email" class="col-form-label">Email<span class="r">*</span></label>
              <input type="email" autocomplete="email" formControlName="email" id="email" class="form-control"
                placeholder="email@example.com">

              <span *ngIf="submitted && email.invalid && email.errors.required" class="r small">Dit veld is
                verplicht</span>
              <span *ngIf="submitted && email.invalid && email.errors.email" class="r small">Vul een correct email-adres
                in</span>

            </div>
          </div>

          <div class="form-row justify-content-center justify-content-md-start">
            <div class="form-group col-11 col-lg-10 col-xl-9 mb-1">
              <label for="password" class="col-form-label">Wachtwoord<span class="r">*</span></label>
              <input type="password" autocomplete="current-password" formControlName="password" id="password"
                class="form-control" placeholder="*******">

              <span *ngIf="submitted && password.invalid && password.errors.required" class="r small">Dit veld is
                verplicht</span>

            </div>
          </div>

          <div class="form-row no-gutters justify-content-center justify-content-md-start">
            <div class="col-11 col-lg-10 col-xl-9">
              <div class="row no-gutters">
                <div class="col"></div>
                <div class="col-auto">
                  <a routerLink="" (click)="forgotPassword()" class="b link small">Wachtwoord vergeten?</a>
                </div>
              </div>
            </div>
          </div>


          <div class="row no-gutters justify-content-center justify-content-md-start mt-2">
            <div class="col-11 col-lg-10 col-xl-9">
              <span class="mt-3 mr-auto ml-0 w-100 small text-left"><i>Velden met een <span class="r">*</span> zijn
                  verplicht</i></span>
            </div>
          </div>

          <div class="row no-gutters mt-3">
            <div class="col-11 col-lg-10 col-xl-9 text-right">

              <div *ngIf="!loading; else loadingButton">
                <button class="btn btn-outline-dark btn-bottom" type="submit">Login</button>
              </div>

              <ng-template #loadingButton>
                <button class="btn btn-outline-dark btn-bottom align-content-center" disabled>
                  <app-loading-icon></app-loading-icon>
                </button>
              </ng-template>

            </div>
          </div>

        </form>

      </div>
    </div>

  </div>
</div>