<div class="container">
  <div class="row height align-content-center justify-content-center">
    <div class="col-auto">
      <div class="row justify-content-center">
        <div class="col-12">
            <i class="fas fa-blind text-center w-100"></i>
            <hr class="b w-100 mt-1">
            <h1 class=" text-center w-100"><b>OEPS</b></h1>
        </div>
      </div>
      <div class="row justify-content-center">
        <span class="lead text-center w-100">Er is hier niets te zien...</span>
        <div class="col-auto">
          <app-return-to-home-button></app-return-to-home-button>
        </div>
      </div>
    </div>
  </div>
</div>