<section class="title">
    <h1 class="text-center display-1">TickEvents</h1>
    <hr class="white m-0">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis cumque veniam soluta itaque accusantium,
        ullam dolorum quis assumenda, vel voluptatibus mollitia illo obcaecati minima sed quidem doloremque maiores,
        rerum pariatur.</p>

    <button class="btn btn-lg btn-primary" (click)="toggleOpenClose()">Open / Close</button>

    <div [@openClose] = 'isOpen ? "open" : "closed"' class="open-close-container">
        <small>the box is now {{ isOpen ? "open" : "closed" }} {{isOpen}}</small>
    </div>
</section>