.box {
  border: 1px grey solid;
  border-radius: 5px;
}

.devider {
  border: 0.5px solid lightgray;
}

.r {
  color: red;
}

.btn-bottom {
  border: 1.5px solid black;
  height: 50px;
  border-radius: 25px;
  font-size: 100%;
  font-weight: 400;
}


input {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid black;
}