.container-fluid {
  overflow-y: auto; 
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

#background {
  background: url("../../assets/bg2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 101vh !important;
  max-width: 100%;
}